/*------------------- General -------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

div.container {
  width: 950px;
  margin: 0 auto;
}

/*------------------- Header -------------------*/

.homepage header {
  padding: 1px;
  margin: 60px 0; 
}

.homepage header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
}

.homepage header div.social {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

.homepage header div.social span {  
  float: left;
}

.homepage header .social span {
  margin-left: 15px;
}

.homepage header .social span a {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.homepage header .social span a:hover {
  color: #000;
}

/*------------------- Main -------------------*/

.homepage div.floor {
  padding: 1px;
  margin: 0 auto;
}

.homepage div.floor div.panel {
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 100px;
}


/*____panel1______*/

.homepage div.floor div.panel.last {
  float: none;
  margin-left: 600px;
}

.homepage div.floor div.panel1 div{
  height: 110px;
}

.homepage div.floor div.panel1 div.bot_panel {
  margin-top: 20px;
  background-color: #c85141;
  width: 260px;
  margin: 15px auto;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel1 div.top_panel {
  padding-top: 30px;
  padding-left: 3px;
}

.homepage div.floor div.panel1 div.top_panel div.item {
  width: 120px;
  height: 110px;
  float: left;
  margin-left: 18px;
}

.homepage div.floor div.panel1 div.top_panel div.item1 {
  background-color: #50b2a2;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel1 div.top_panel div.item a,
.homepage div.floor div.panel1 div.bot_panel a {
  text-decoration: none;
}

.homepage div.floor div.panel1 div.top_panel div.item a i,
.homepage div.floor div.panel1 div.bot_panel a i {
  font-size: 60px;
  padding: 8px;
  display: block;
  text-align: center;
  color: #fff;
}

.homepage div.floor div.panel1 div.top_panel div.item a span,
.homepage div.floor div.panel1 div.bot_panel a span {
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: 'Gruppo', cursive;
  color: white;
} 

.homepage div.floor div.panel1 div.top_panel div.item2 {
  background-color: #50b28a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

/*____panel2(Mid)______*/

.homepage div.floor div.midpanel {
  background-color: #0fa2cb;
  -webkit-transform: scale(0.81);
  -moz-transform: scale(0.81);
  -ms-transform: scale(0.81);
  -o-transform: scale(0.81);
  transform: scale(0.81);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.midpanel a,
.homepage div.floor div.midpanel a {
  text-decoration: none;
}

.homepage div.floor div.midpanel a i,
.homepage div.floor div.midpanel a i {
  font-size: 180px;
  padding: 30px;
  display: block;
  text-align: center;
  color: #fff;
}

.homepage div.floor div.midpanel a span,
.homepage div.floor div.midpanel a span {
  font-size: 50px;
  display: block;
  text-align: center;
  font-family: 'Gruppo', cursive;
  color: white;
}

/*____panel3______*/

.homepage div.floor div.panel3 {
  padding-top: 30px;
}

.homepage div.floor div.panel3 div {
  height: 110px;
}

.homepage div.floor div.panel3 div.top_panel {
  background-color: #d8457a;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel3 div.bot_panel {
  padding-top: 18px;
  padding-left: 3px;
}
.homepage div.floor div.panel3 div.bot_panel div.item {
  width: 120px;
  height: 110px;
  float: left;
  margin-left: 18px;
}

.homepage div.floor div.panel3 div.bot_panel div.item1 {
  background-color: #d8733b;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel3 div.bot_panel div.item2 {
  background-color: #d9912a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel3 div.top_panel a,
.homepage div.floor div.panel3 div.bot_panel a {
  text-decoration: none;
}

.homepage div.floor div.panel3 div.top_panel a i,
.homepage div.floor div.panel3 div.bot_panel a i {
  font-size: 60px;
  padding: 8px;
  display: block;
  text-align: center;
  color: #fff;
}

.homepage div.floor div.panel3 div.top_panel a span,
.homepage div.floor div.panel3 div.bot_panel a span {
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: 'Gruppo', cursive;
  color: white;
} 

.homepage div.floor div.panel1 div.top_panel div.item2 {
  background-color: #50b28a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

/*____General Panel1______*/

.homepage div.floor div.panel3 div.bot_panel div.item2:hover,
.homepage div.floor div.panel3 div.bot_panel div.item1:hover,
.homepage div.floor div.panel3 div.top_panel:hover,
.homepage div.floor div.panel1 div.top_panel div.item2:hover,
.homepage div.floor div.panel1 div.top_panel div.item1:hover,
.homepage div.floor div.panel1 div.bot_panel:hover,
.homepage div.floor div.midpanel:hover{
  background-color: #323232;
}

.homepage div.main div.content {
  width: 800px;
  margin-left: 55px;
  background-color: #eaeaea;
  line-height: 1.8;
  color: #555555;
  padding: 27px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*____footer______*/

.homepage footer .copyright p {
  color : #666;
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}


/*--------------- End Home Page ---------------*/

/*--------------- Begin About Page ---------------*/

/*____General______*/
.aboutpage {
  background-color: #50b1a0;
}
.aboutpage .container {
  width: 1200px;
}

/*____header______*/

.aboutpage header {
  padding: 1px;
  margin: 60px 0; 
}

.aboutpage header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.aboutpage header .menu {
  font-size: 30px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.aboutpage header div.social {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

.aboutpage header div.social span {  
  float: left;
}

.aboutpage header .social span {
  margin-left: 15px;
}

.aboutpage header .social span a {
  color: rgba(220,220,220,0.5);
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.aboutpage header .social span a:hover {
  color: #fff;
}

/*____Main______*/

.aboutpage .main .tpanel .content {
  width: 950px;
  margin: 100px auto 20px;
}

.aboutpage .main .tpanel .content span {
  font-family: 'Gruppo', cursive;
  font-size: 32px;
  font-weight: 100;
  color: #fafafa;
  text-align: justify;
}

.aboutpage .main .tpanel .content .footnote {
  border-top: 1px solid rgba(220,220,220,0.7);
  text-align: right;
  color: rgba(220,220,220,0.7);
  font-family: 'Gruppo', cursive;
  margin-left: auto;
  margin-top: 20px;
  width: 220px;
}

.aboutpage .main .bpanel {
  width: 920px;
  margin: 50px auto 10px;
}

.aboutpage .main .bpanel div {
  float: left;
  width: 450px;
  color: #fafafa;
  font-family: 'Gruppo', cursive;
  margin-left: 10px;
}

/*____footer______*/

.aboutpage footer {
  margin: 0 100px;
  padding-top: 100px;
}

.aboutpage footer .copyright p {
  color : #666;
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}


/*--------------- End About Page ---------------*/

/*--------------- Begin Group Page ---------------*/

/*____General______*/

.grouppage {
  background-color: #50b189;;
}
.grouppage .contaienr {
  width: 1200px;
  margin: 0 auto;
}


/*_______ header ________*/

.grouppage header {
  padding: 1px;
  margin: 60px 0; 
}

.grouppage header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.grouppage header .menu {
  font-size: 30px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.grouppage header div.social {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

.grouppage header div.social span {  
  float: left;
}

.grouppage header .social span {
  margin-left: 15px;
}

.grouppage header .social span a {
  color: rgba(220,220,220,0.5);
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.grouppage header .social span a:hover {
  color: #fff;
}


/*_____ End Header _____*/

/*_____ Start Main Part _____*/


.grouppage .main {
  margin-top: 100px;
}

.grouppage .main .t_panel {
  width: 900px;
  margin: 100px auto 20px;
}

.grouppage .main .t_panel  span {
  font-family: 'Gruppo', cursive;
  font-size: 32px;
  font-weight: 100;
  color: #fafafa;
  text-indent: 3px;
}

.grouppage .main .b_panel {
  width: 950px;
  margin: 100px auto 50px;
}

.grouppage .main .b_panel:after {
  content: " ";
  display: table;
  clear: both;
}

.grouppage .main .b_panel .gal {
  float: left;
  width: 300px;
  margin: 0 8px;
  background-color: #fafafa;
  cursor: pointer;
}

.grouppage .main .b_panel .gal figure img {
  display: block;
  margin: 15px auto;
}

.grouppage .main .b_panel .gal a.int {
  text-decoration: none;
  color: #50b189 !important;
  display: block;
  margin-bottom: 20px;
  font-family: 'Gruppo', cursive;
  margin-left: 10px;
}

.grouppage .main .b_panel .gal a.int .name h3 {
  font-size: 25px;
}

.grouppage .main .b_panel .gal a.int .name span {
  font-family: 'Tulpen One',cursive;
  opacity: 0.8;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.grouppage .main .b_panel .gal .explain span {
  color: #333;
  display: block;
  margin: 10px;
  font-family: Arial;
}

.grouppage .main .b_panel .gal .social span a {
  color: rgba(220,220,220,0.5);
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.grouppage .main .b_panel .gal .social {
  width: 202px;
  display: block;
  margin: 50px auto 20px;
}


.grouppage .main .b_panel .gal .social span {
  margin-left: 5px;
}


.grouppage .main .b_panel .gal .social span a:hover {
  color: #333;
}

/*____footer______*/

.grouppage footer {
  margin: 0 100px;
  padding-top: 100px;
}

.grouppage footer .copyright p {
  color : #666;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}



/*--------------- End Group Page ---------------*/

/*--------------- Begin Feedback Page ---------------*/

/*____General______*/

.feedbackpage {
  background-color: #d68f2a;;
}
.feedbackpage .contaiener {
  width: 1200px;
  margin: 0 auto;
}


/*_______ header ________*/

.feedbackpage header {
  padding: 1px;
  margin: 60px 0; 
}

.feedbackpage header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.feedbackpage header .menu {
  font-size: 30px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.feedbackpage header div.social {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

.feedbackpage header div.social span {  
  float: left;
}

.feedbackpage header .social span {
  margin-left: 15px;
}

.feedbackpage header .social span a {
  color: rgba(220,220,220,0.5);
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.feedbackpage header .social span a:hover {
  color: #fff;
}


/*_____ End Header _____*/


/*_____ Start Main Part _____*/

.feedbackpage .main {
  width: 900px;
  margin: 100px auto 15px;
}

.feedbackpage .main input[type="text"] {
  width: 400px;
  height: 70px;
  background-color: #EFD2A9;
  border: none;
  border-left: 4px solid #CB5132;
  color: #DC9F47;
  margin: 10px;
  font-size: 30px;
  text-indent: 10px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  font-family: 'Gruppo', cursive;
  font-weight: 100;
}

.feedbackpage .main input[type="text"]:focus {
  background-color: #fafafa;
  color: #C3293A;
}


.feedbackpage .main input.comment {
  width: 830px;
  height: 150px;
}


.feedbackpage .main input[type="submit"] {
  width: 180px;
  font-family: 'Gruppo', cursive;
  height: 80px;
  background-color: #fafafa;
  border: none;
  color: #DC9F47;
  font-size: 25px;
  cursor: pointer;
  margin-left: auto;
  margin-right: 55px;
  display: block;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.feedbackpage .main input[type="submit"]:hover {
  background-color: #EFD2A9;
}


/*_____ End Main Part _____*/


/*____footer______*/

.feedbackpage footer {
  margin: 0 100px;
  padding-top: 100px;
}

.feedbackpage footer .copyright p {
  color : #ddd;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

/*--------------- End Feedback Page ---------------*/

/*--------------- Begin Contact Page ---------------*/

/*____General______*/

.contactpage {
  background-color: #D04275;;
}
.contactpage .container {
  width: 1250px;
  margin: 0 auto;
}


/*_______ header ________*/

.contactpage header {
  padding: 1px;
  margin: 60px 0; 
}

.contactpage header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.contactpage header .menu {
  font-size: 30px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.contactpage header div.social {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

.contactpage header div.social span {  
  float: left;
}

.contactpage header .social span {
  margin-left: 15px;
}

.contactpage header .social span a {
  color: rgba(220,220,220,0.5);
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.contactpage header .social span a:hover {
  color: #fff;
}


/*_____ End Header _____*/


/*_____ Start Main Part _____*/

.contactpage .main .panels {
  width: 1000px;
  margin: 200px auto 120px;
}

.contactpage .main .panels:after {
  content: " ";
  display: table;
  clear: both;
}

.contactpage .main .panels .panel {
  width: 300px;
  float: left;
  margin-left: 30px;
}

.contactpage .main .panels .panel h3,
.contactpage .main .panels .panel span {
  font-family: 'Gruppo', cursive;
  color: white;
  display: block;
}

.contactpage .main .panels .panel h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contactpage .main .panels .panel span {
  font-family: cursive ;
}


/*_____ End Main Part _____*/


/*____footer______*/

.contactpage footer {
  margin: 0 100px;
  padding-top: 100px;
}

.contactpage footer .copyright p {
  color : #ddd;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

