* {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-image: url("https://f.cloud.github.com/assets/3403583/925439/dd069084-ff78-11e2-9c43-2f3ca323a369.jpg");
  width: 1490px;
  height: 1857px;
}

body header {
  padding: 1px;
  outline : 2px solid #777;
}

body header figure {
  width: 130px;
  height: 60px;
  outline : 1px dashed #108;
  margin: 10px 250px;
  float: left;
}

body header nav {
  width: 590px;
  height: 50px;
  outline : 1px dashed #108;
  margin: 20px 0 0 650px;
}

body header .slider {
  height: 440px;
  outline : 1px dashed #108;
  margin-top: 15px;
}

body div.main {
  padding: 1px;
  outline : 2px solid #777;
}

body div.main div.floor1 {
  width: 970px;
  margin: 30px auto 0;
  outline : 1px dashed #108;
}

body div.main div.floor1 > div:first-child {
  height: 150px;
  outline : 2px solid #098;
}

body div.main div.floor1 > div:first-child div {
  float: left;
  outline : 1px dashed #108;
}


body div.main div.floor1 > div:first-child div:first-child {
  width: 680px;
  height: 100px;
  margin: 25px 0 25px 30px;
}

body div.main div.floor1 > div:first-child div:last-child {
  width: 190px;
  height: 60px;
  margin: 45px 35px;
}

body div.main div.floor1 > div:nth-child(2) > div {
  float: left;
  outline : 2px solid #098;
  width: 240px;
  height: 260px;
  margin-left: 2px;
}
body div.main div.floor1 > div:nth-child(3) > div {
  float: left;
  margin-top: 38px;
  outline : 1px dashed #F15;
}

body div.main div.floor1 > div:nth-child(3) > div:first-child {
  width: 720px;
  height: 50px;
}

body div.main div.floor1 > div:nth-child(3) > div:last-child {
  width: 225px;
  height: 50px;
  margin-left: 20px;
}


body div.main div.floor2 {
  width: 970px;
  margin: 10px auto 0;
  outline : 1px dashed #108;
}

body div.main div.floor2 > div {
  float: left;
  width: 240px;
  height: 290px;
  margin-left: 2px;
  outline: 2px dashed #098;
}

body footer {
  padding: 1px;
  outline : 5px solid #098;
}

body footer div.content div:first-child {
  margin-left: 250px;
}

body footer div.content div {
  float: left;
  width: 245px;
  height: 260px;
  outline: 2px dashed #098;
  margin-top: 30px;
}

body footer div.bar div {
  float: left;
  margin-top: 70px;
  outline: 2px dashed #098;
}

body footer div.bar div:first-child {
  width: 430px;
  height: 40px;
  margin-left: 260px;
}

body footer div.bar div:last-child {
  width: 200px;
  height: 40px;
  margin-left: 350px;
}