/*------------------- General -------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

div.train {
  width : 10000px;
  min-height: 300px;
  background-color: #fafafa;
}

div.homeincluder {
  width: 1360px;
}

div.home,html {
  width: 1360px;
  background-color: #fafafa;
}

div.home div.container {
  width: 950px;
  margin: 0 auto;
}

/*------------------- Header -------------------*/

header {
  padding: 1px;
  margin: 60px 0; 
}

header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
}

header div.social {
  margin-left: auto;
  margin-top: 25px;
  width: 250px;
}

header div.social span {  
  float: left;
}


header div.social span {
  color: #ccc;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

header div.social span:hover {
  color: #000;
}

/*------------------- Main -------------------*/

div.floor {
  padding: 1px;
  margin: 0 auto;
}


div.floor div.panel {
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 100px;
}


div.floor div.midpanel {
  background-color: #0fa2cb;
  -webkit-transform: scale(0.81);
  -moz-transform: scale(0.81);
  -ms-transform: scale(0.81);
  -o-transform: scale(0.81);
  transform: scale(0.81);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

div.floor div.panel.last {
  float: none;
  margin-left: 600px;
}

div.floor div.panel1 div{
  height: 110px;
}

div.floor div.panel1 div.bot_panel {
  margin-top: 20px;
  background-color: #c85141;
  width: 260px;
  margin: 15px auto;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

div.floor div.panel1 div.top_panel {
  padding-top: 30px;
  padding-left: 3px;
}

div.floor div.panel1 div.top_panel div.item {
  width: 120px;
  height: 110px;
  float: left;
  margin-left: 18px;
}

div.floor div.panel1 div.top_panel div.item1 {
  background-color: #50b2a2;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

div.floor div.panel1 div.top_panel div.item2 {
  background-color: #50b28a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

div.floor div.panel3 {
  padding-top: 30px;
}

div.floor div.panel3 div {
  height: 110px;
}

div.floor div.panel3 div.top_panel {
  background-color: #d8457a;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

div.floor div.panel3 div.bot_panel {
  padding-top: 18px;
  padding-left: 3px;
}
div.floor div.panel3 div.bot_panel div.item {
  width: 120px;
  height: 110px;
  float: left;
  margin-left: 18px;
}

div.floor div.panel3 div.bot_panel div.item1 {
  background-color: #d8733b;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

div.floor div.panel3 div.bot_panel div.item2 {
  background-color: #d9912a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}


div.floor div.panel3 div.bot_panel div.item2:hover,
div.floor div.panel3 div.bot_panel div.item1:hover,
div.floor div.panel3 div.top_panel:hover,
div.floor div.panel1 div.top_panel div.item2:hover,
div.floor div.panel1 div.top_panel div.item1:hover,
div.floor div.panel1 div.bot_panel:hover,
div.floor div.midpanel:hover{
  background-color: #323232;
}

div.main div.content {
  width: 800px;
  margin-left: 55px;
  background-color: #eaeaea;
  line-height: 1.8;
  color: #555555;
  padding: 27px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer p {
  color : #666;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 10px;
}