/*------------------- General -------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

div.container {
  width: 950px;
  margin: 0 auto;
}

/*------------------- Header -------------------*/

.homepage header {
  padding: 1px;
  margin: 60px 0; 
}

.homepage header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
}

.homepage header div.social {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

.homepage header div.social span {  
  float: left;
}

.homepage header .social span {
  margin-left: 15px;
}

.homepage header .social span a {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.homepage header .social span a:hover {
  color: #000;
}

/*------------------- Main -------------------*/

.homepage div.floor {
  padding: 1px;
  margin: 0 auto;
}

.homepage div.floor div.panel {
  width: 300px;
  height: 300px;
  float: left;
  margin-top: 100px;
}


/*____panel1______*/
.homepage div.floor div.panel.last {
  float: none;
  margin-left: 600px;
}

.homepage div.floor div.panel1 div{
  height: 110px;
}

.homepage div.floor div.panel1 div.bot_panel {
  margin-top: 20px;
  background-color: #c85141;
  width: 260px;
  margin: 15px auto;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel1 div.top_panel {
  padding-top: 30px;
  padding-left: 3px;
}

.homepage div.floor div.panel1 div.top_panel div.item {
  width: 120px;
  height: 110px;
  float: left;
  margin-left: 18px;
}

.homepage div.floor div.panel1 div.top_panel div.item1 {
  background-color: #50b2a2;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel1 div.top_panel div.item a,
.homepage div.floor div.panel1 div.bot_panel a {
  text-decoration: none;
}

.homepage div.floor div.panel1 div.top_panel div.item a i,
.homepage div.floor div.panel1 div.bot_panel a i {
  font-size: 60px;
  padding: 8px;
  display: block;
  text-align: center;
  color: #fff;
}

.homepage div.floor div.panel1 div.top_panel div.item a span,
.homepage div.floor div.panel1 div.bot_panel a span {
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: 'Gruppo', cursive;
  color: white;
} 

.homepage div.floor div.panel1 div.top_panel div.item2 {
  background-color: #50b28a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

/*____panel2(Mid)______*/
.homepage div.floor div.midpanel {
  background-color: #0fa2cb;
  -webkit-transform: scale(0.81);
  -moz-transform: scale(0.81);
  -ms-transform: scale(0.81);
  -o-transform: scale(0.81);
  transform: scale(0.81);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.midpanel a,
.homepage div.floor div.midpanel a {
  text-decoration: none;
}

.homepage div.floor div.midpanel a i,
.homepage div.floor div.midpanel a i {
  font-size: 180px;
  padding: 30px;
  display: block;
  text-align: center;
  color: #fff;
}

.homepage div.floor div.midpanel a span,
.homepage div.floor div.midpanel a span {
  font-size: 50px;
  display: block;
  text-align: center;
  font-family: 'Gruppo', cursive;
  color: white;
}

/*____panel3______*/
.homepage div.floor div.panel3 {
  padding-top: 30px;
}

.homepage div.floor div.panel3 div {
  height: 110px;
}

.homepage div.floor div.panel3 div.top_panel {
  background-color: #d8457a;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel3 div.bot_panel {
  padding-top: 18px;
  padding-left: 3px;
}
.homepage div.floor div.panel3 div.bot_panel div.item {
  width: 120px;
  height: 110px;
  float: left;
  margin-left: 18px;
}

.homepage div.floor div.panel3 div.bot_panel div.item1 {
  background-color: #d8733b;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel3 div.bot_panel div.item2 {
  background-color: #d9912a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.homepage div.floor div.panel3 div.top_panel a,
.homepage div.floor div.panel3 div.bot_panel a {
  text-decoration: none;
}

.homepage div.floor div.panel3 div.top_panel a i,
.homepage div.floor div.panel3 div.bot_panel a i {
  font-size: 60px;
  padding: 8px;
  display: block;
  text-align: center;
  color: #fff;
}

.homepage div.floor div.panel3 div.top_panel a span,
.homepage div.floor div.panel3 div.bot_panel a span {
  font-size: 20px;
  display: block;
  text-align: center;
  font-family: 'Gruppo', cursive;
  color: white;
} 

.homepage div.floor div.panel1 div.top_panel div.item2 {
  background-color: #50b28a;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

/*____General Panel1______*/
.homepage div.floor div.panel3 div.bot_panel div.item2:hover,
.homepage div.floor div.panel3 div.bot_panel div.item1:hover,
.homepage div.floor div.panel3 div.top_panel:hover,
.homepage div.floor div.panel1 div.top_panel div.item2:hover,
.homepage div.floor div.panel1 div.top_panel div.item1:hover,
.homepage div.floor div.panel1 div.bot_panel:hover,
.homepage div.floor div.midpanel:hover{
  background-color: #323232;
}

.homepage div.main div.content {
  width: 800px;
  margin-left: 55px;
  background-color: #eaeaea;
  line-height: 1.8;
  color: #555555;
  padding: 27px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*____footer______*/
.homepage footer .copyright p {
  color : #666;
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}


/*--------------- End Home Page ---------------*/
/*--------------- Begin About Page ---------------*/
/*____General______*/
.aboutpage {
  background-color: #50b1a0;
}
.aboutpage .container {
  width: 1200px;
}

/*____header______*/

.aboutpage header {
  padding: 1px;
  margin: 60px 0; 
}

.aboutpage header h1 {
  float: left;
  font-size: 70px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.aboutpage header .menu {
  font-size: 30px;
  display: block;
  font-weight: 300;
  font-family: 'Gruppo', cursive;
  letter-spacing: -2px;
  color: #fafafa;
}

.aboutpage header div.social {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}

.aboutpage header div.social span {  
  float: left;
}

.aboutpage header .social span {
  margin-left: 15px;
}

.aboutpage header .social span a {
  color: rgba(220,220,220,0.5);
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  display: block;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.aboutpage header .social span a:hover {
  color: #fff;
}

/*____Main______*/

.aboutpage .main .tpanel .content {
  width: 950px;
  margin: 100px auto 20px;
}

.aboutpage .main .tpanel .content span {
  font-family: 'Gruppo', cursive;
  font-size: 32px;
  font-weight: 100;
  color: #fafafa;
  text-align: justify;
}

.aboutpage .main .tpanel .content .footnote {
  border-top: 1px solid rgba(220,220,220,0.7);
  text-align: right;
  color: rgba(220,220,220,0.7);
  font-family: 'Gruppo', cursive;
  margin-left: auto;
  margin-top: 20px;
  width: 220px;
}

.aboutpage .main .bpanel {
  width: 920px;
  margin: 50px auto 10px;
}

.aboutpage .main .bpanel div {
  float: left;
  width: 450px;
  color: #fafafa;
  font-family: 'Gruppo', cursive;
  margin-left: 10px;
}

/*____footer______*/
.homepage footer .copyright p {
  color : #666;
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}


/*--------------- end About Page ---------------*/